.nav{
  display: flex;
  justify-content: center;
}
.archivos{
    display: flex;
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
  
}